{% extends 'graph_layout.html' %}

{% block extra_styles %}{% endblock %}

{% block title %}Load Data{% endblock %}

{% block inner_content %}
<h1>Expected Data <span class="badge badge-secondary">File</span></h1>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Store Id</th>
                <th>Client</th>
                <th>Client Type</th>
                <th>Product Type</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Local</th>
                <th>USD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MX0006</td>
                <td>1700000003</td>
                <td>0 or 1</td>
                <td>ENVIOS COMBUSTIBLE NACIONAL</td>
                <td>9/1/2016</td>
                <td>1</td>
                <td>16.82</td>
                <td>5.17538461538462</td>
            </tr>
        </tbody>
    </table>
</div>
<h1>Upload File</h1>
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    <div class="form-group">
        <input id="id_file" class="form-control-file" name="file" type="file" required />
    </div>
    <div class="form-group">
        <input class="btn btn-lg btn-primary" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}